<ab:layout xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:ab="urn:jsptagdir:/WEB-INF/tags"
      title="button.modifyBattery">
    <fmt:setLocale value="${language}"/>
    <fmt:setBundle basename="messages"/>
    <jsp:directive.page contentType="text/html; charset=UTF-8"/>         
        
    <ab:batteryForm nueva="false"></ab:batteryForm>
        
        
</ab:layout>