<ab:layout xmlns="http://www.w3.org/1999/xhtml"
      xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:ab="urn:jsptagdir:/WEB-INF/tags"
      title="h3.modifiedBatteryData">
    <fmt:setLocale value="${language}"/>
    <fmt:setBundle basename="messages"/>
    <jsp:directive.page contentType="text/html; charset=UTF-8"/> 

        <div>
            <p name="newId">ID: ${id}</p>
            <p name="newDescription"><fmt:message key="th.headerDescription"/>: ${description}</p>
            
            <fmt:parseDate value="${fecha}" var="parsedDate" pattern="yyyy-MM-dd"/>
            <fmt:message var="typeDate" key="date.pattern"/>       
            <p name="newFecha"><fmt:message key="th.headerDate"/>: <fmt:formatDate value="${parsedDate}" pattern="${typeDate}"/></p>
        </div>
        <h3><a href="/Listado"><fmt:message key="h3.comeBackToList"/></a></h3>
        
        
</ab:layout>